body{
    background-color: rgb(229, 123, 229);
    background-image: url(BackForHome2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body h1{
    font-size: 100px;
    text-align: center;
}

body h2{
    color: rgb(156, 155, 155);
    font-size:35px;
    font-weight:bolder;
}

#blank{
    height: 200px;
    width: 200px;
    visibility: hidden;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.navbar a{
    margin: 5px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    display: block;
    min-height: 50px;
    min-width: 100px;
    text-align: center;
}

.navbar a:hover{background-color: black;}

.navbar li{float: left;}

.container{
    display: flex;
    flex-wrap: wrap;
}

.item{
    overflow: auto;
    flex: 1 0 30%;
    margin: 10px;
    height: 460px;
    width: 340px;
    background-color: rgb(236, 229, 237);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item:hover{
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}

img{
    align-content: center;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.item h2{
    text-align: center;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.item h4{
    font-size:medium;
    text-align: center;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

#price{
    display: inline;
    text-align: left;
    margin-top: 50px;    
}

.Button{
    height: 30px;
    width: 60px;
    margin-top: 5px;
    margin-left: 0px;
    font-size: larger;
    background-color: rgb(24, 225, 24);
    display: inline;
}