body{
    background-color: rgb(229, 123, 229);
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(103, 16, 224);
    font-size:larger;
    text-decoration: none;
    font-weight: bold;
    display: block;
    min-height: 50px;
    min-width: 100px;
    text-align: center;
}

.navbar a:hover{background-color: aqua;}

.navbar li{float: left;}

.item{
    height: 460px;
    width: 300px;
    background-color: rgb(236, 229, 237);
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.item h2{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.item h3{
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.button{
    height: 60px;
    width: 70px;
    margin-left: 150px;
    font-size: larger;
    background-color: rgb(24, 225, 24);
    display: inline;
}